<mat-toolbar class="flex justify-content-between align-center" color=#FFC9DEF5>
  <div>  <button 
     mat-icon-button
     class="example-icon" 
     aria-label="Example icon-button with menu icon"  
     (click)="drawer?.toggle()"
     >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Mi aplicacion</span>
    <span class="example-spacer"></span>
  </div>

   <p *ngIf="authUser$ | async; let authUser">
      {{ (authUser$ | async)?.name }}  {{ (authUser$ | async)?.surname }} </p>
  </mat-toolbar> 