<mat-drawer-container class="example-container" autosize>
    <mat-drawer  opened="true"   #drawer class="example-sidenav" mode="side">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
     <app-toolbar [drawer]="drawer" class="toolbar"> </app-toolbar>


      <div>
          <!-- <app-home></app-home> -->
          <main class="p-3">
          <!-- <button (click)="showPage = !showPage"> Alternar </button> -->
          <router-outlet></router-outlet>

      </main> 
      </div> 
  
  </mat-drawer-container>
 

